////화이트모드
// $bg-color: #ecf0f1;
$bg-color: #e8f9fd;
$border: #2155cd;
$text-color: black;
$text-btn: white;
$background: white;
//$bg-btn1: #ff7675;
$bg-btn1: #0aa1dd;
//$bg-btn2: #e84393;
$bg-btn2: #2155cd;

//블랙모드
//$bg-color: #263747;
//$border: #25ccf7;
//$text-color: #ffffff;
//$background: #0c151c;
//$bg-btn1: #182c61;
//$bg-btn2: #3b3b98;

* {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text-color;
}
h1 {
  cursor: default;
  text-align: center;
  margin: 50px 0;
  color: $text-color;
}

.app {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  //searchBox
  .searchBox {
    #searchInput {
      width: 250px;
      height: 50px;
      //background-color: $bg-color;
      color: $text-color;
      font-size: 18px;
      border: 3px solid $border;
      border-radius: 15px;
      outline: none;
      padding: 0 10px;
    }
    .searchableList {
      .file-list {
        font-size: 18px;
        font-weight: 700;
        cursor: default;
        background-color: $bg-color;
        padding: 10px;
        border: 0;
        border-radius: 15px;
        outline: none;
        color: $text-color;
        li {
          font-size: 16px;
          font-weight: normal;
          cursor: pointer;
          padding: 5px;
          list-style: none;
        }
        :first-of-type {
          border-top: 0.9px solid gray;
          margin-top: 5px;
        }
      }
      .is-hidden {
        display: none !important;
      }
    }
  }
  //searchResult
  .searchResult {
    margin-left: 50px;
    width: 800px;
    button {
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin: 5px;
      border-radius: 30px;
      font-size: 25px;
      font-weight: 700;
      border: 0;
      background: linear-gradient(45deg, $bg-btn1, $bg-btn2);
      color: $text-btn;
      cursor: pointer;
    }
    .solutionNavigator {
      display: flex;
      float: right;
      position: relative;
      top: 55px;
      button {
        width: 150px;
      }
      .btnPrevSolution-inactive,
      .btnNextSolution-inactive {
        cursor: none;
        opacity: 0.2;
      }
    }
    .file-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: $bg-color;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      position: relative;
      // width: 100px;
      border: 0;
      border-radius: 15px;
      outline: none;
      color: $text-color;
    }
    .code {
      background-color: $bg-color;
      padding: 10px;
      margin-top: 70px;
      width: 100%;
      overflow-x: auto;
      border: 0;
      border-radius: 15px;
      outline: none;
      color: $text-color;
    }
    .btn-copy {
      width: 200px;
    }
  }
}
