////화이트모드
$bg-color: #e8f9fd;
$border-levelTitle: #2155cd;
$text-color: black;
$text-btn: #ffffff;
$background: #ffffff;
$bg-btn1: #0aa1dd;
$bg-btn2: #2155cd;

//블랙모드
// $bg-color: #263747;
// $border-levelTitle: #25ccf7;
// $text-color: #ffffff;
// $text-btn: #ffffff;
// $background: #0c151c;
// $bg-btn1: #182c61;
// $bg-btn2: #3b3b98;

* {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text-color;
}
h1 {
  text-align: center;
  margin: 30px 0 60px 0;
  padding: 20px 0;
  color: $text-color;
  border-bottom: 4px solid $border-levelTitle;
}

.loading {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
  color: #0aa1dd;
  font-size: 18px;
}

.app {
  display: flex;
  width: 1130px;
  margin: 0 auto;
  //searchBox
  .searchBox {
    #searchInput {
      width: 280px;
      height: 50px;
      background-color: $background;
      color: $text-color;
      font-size: 18px;
      font-weight: 700;
      border: 3px solid $border-levelTitle;
      border-radius: 15px;
      outline: none;
      padding: 0 10px;
    }
    .searchableList {
      .file-list {
        background-color: $bg-color;
        padding: 10px;
        border: 0;
        border-radius: 15px;
        outline: none;
        color: $text-color;
        font-size: 18px;
        font-weight: 700;
        .levelTitle {
          color: $border-levelTitle;
          font-size: 22px;
          font-weight: 700;
          cursor: default;
        }
        .file-list-item {
          cursor: pointer;
        }
        li {
          padding: 5px;
          list-style: none;
        }
      }
      .is-hidden {
        display: none !important;
      }
    }
  }
  //searchResult
  .searchResult {
    margin-left: 50px;
    width: 800px;
    .solutionNavigator {
      display: flex;
      float: right;
      position: relative;
      top: 55px;
      button:first-child {
        border-radius: 50px 15px 15px 50px;
        background: linear-gradient(90deg, $bg-btn1, $bg-btn2);
      }
      button:last-child {
        border-radius: 15px 50px 50px 15px;
        background: linear-gradient(90deg, $bg-btn2, $bg-btn1);
      }
      > button {
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        font-size: 25px;
        font-weight: 700;
        border: 0;
        color: $text-btn;
      }
      .btnPrevSolution,
      .btnNextSolution {
        cursor: pointer;
      }
      .btnPrevSolution-inactive,
      .btnNextSolution-inactive {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    .file-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: $bg-color;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      font-weight: 700;
      position: relative;
      border: 0;
      border-radius: 15px;
      outline: none;
      color: $text-color;
    }
    .wrapCode {
      position: relative;
      .code {
        background-color: $bg-color;
        padding: 10px;
        margin-top: 70px;
        width: 100%;
        overflow-x: auto;
        border: 0;
        border-radius: 15px;
        outline: none;
        color: $text-color;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .btn-copy {
        width: 190px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        font-size: 25px;
        font-weight: 700;
        border: 0;
        background: linear-gradient(180deg, $bg-btn2, $bg-btn1);
        color: $text-btn;
        position: absolute;
        top: -65px;
        left: -5px;
        border-radius: 15px;
        cursor: pointer;
      }
      .isCopied {
        position: absolute;
        top: -60px;
        left: 204px;
        width: 200px;
        line-height: 50px;
        color: $text-color;
        font-size: 18px;
        font-weight: 700;
        background-color: transparent;
        padding: 0 6px;
        border-radius: 15px;
      }
    }
  }
}
