* {
  box-sizing: border-box; }

body {
  background: #ffffff;
  color: black; }

h1 {
  text-align: center;
  margin: 30px 0 60px 0;
  padding: 20px 0;
  color: black;
  border-bottom: 4px solid #2155cd; }

.app {
  display: flex;
  width: 1200px;
  margin: 0 auto; }
  .app .searchBox #searchInput {
    width: 280px;
    height: 50px;
    background-color: #ffffff;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #2155cd;
    border-radius: 15px;
    outline: none;
    padding: 0 10px; }
  .app .searchBox .searchableList .file-list {
    background-color: #e8f9fd;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 700; }
    .app .searchBox .searchableList .file-list .levelTitle {
      color: #2155cd;
      font-size: 22px;
      font-weight: 700; }
    .app .searchBox .searchableList .file-list .file-list-item {
      cursor: pointer; }
    .app .searchBox .searchableList .file-list li {
      padding: 5px;
      list-style: none; }
  .app .searchBox .searchableList .is-hidden {
    display: none !important; }
  .app .searchResult {
    margin-left: 50px;
    width: 800px; }
    .app .searchResult .solutionNavigator {
      display: flex;
      float: right;
      position: relative;
      top: 55px; }
      .app .searchResult .solutionNavigator button:first-child {
        border-radius: 50px 15px 15px 50px;
        background: linear-gradient(90deg, #0aa1dd, #2155cd); }
      .app .searchResult .solutionNavigator button:last-child {
        border-radius: 15px 50px 50px 15px;
        background: linear-gradient(90deg, #2155cd, #0aa1dd); }
      .app .searchResult .solutionNavigator > button {
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        font-size: 25px;
        font-weight: 700;
        border: 0;
        color: #ffffff; }
      .app .searchResult .solutionNavigator .btnPrevSolution,
      .app .searchResult .solutionNavigator .btnNextSolution {
        cursor: pointer; }
      .app .searchResult .solutionNavigator .btnPrevSolution-inactive,
      .app .searchResult .solutionNavigator .btnNextSolution-inactive {
        opacity: 0.4; }
    .app .searchResult .file-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #e8f9fd;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      font-weight: 700;
      position: relative;
      border: 0;
      border-radius: 15px;
      outline: none;
      color: black; }
    .app .searchResult .wrapCode {
      position: relative; }
      .app .searchResult .wrapCode .code {
        background-color: #e8f9fd;
        padding: 10px;
        margin-top: 70px;
        width: 100%;
        overflow-x: auto;
        border: 0;
        border-radius: 15px;
        outline: none;
        color: black;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .app .searchResult .wrapCode .btn-copy {
        width: 190px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        font-size: 25px;
        font-weight: 700;
        border: 0;
        background: linear-gradient(180deg, #2155cd, #0aa1dd);
        color: #ffffff;
        position: absolute;
        top: -65px;
        left: -5px;
        border-radius: 15px;
        cursor: pointer; }
      .app .searchResult .wrapCode .isCopied {
        position: absolute;
        top: -60px;
        left: 204px;
        width: 200px;
        line-height: 50px;
        color: black;
        font-size: 18px;
        font-weight: 700;
        background-color: #e8f9fd;
        padding: 0 6px;
        border-radius: 15px; }

/*# sourceMappingURL=style.css.map */
